:root {
    --encabezado: 'PT sans', sans-serif;
    --parrafo: 'Coming Soon', sans-serif;

    --primario: #784D3c;
    --claro: #e1e1e1;
    --blanco: #fff;
    --negro: #000;
}
html{
    box-sizing: border-box;
    font-size: 65.5%; /* 1 rem = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-family: var(--parrafo);
    font-size: 1.6rem;
    line-height: 2;
}

/* globales */
.contenedores {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;   
}
a{
    text-decoration: none;
}
h1,h2,h3,h4 {
    font-family: var(--encabezado);
    line-height: 1.2;
}
h1{
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
img {
    width: 100%;
}
p {
    width: 95%;
}

/* utilidades */
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto {
    text-align: center;
}
/* header */
.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header-texto {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 4rem;
    width: 95%;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content:space-between;
        align-items: center;
    }
}
.logo {
    color: var(--blanco);
}
.logo-nombre {
    font-weight: 400;
}
.logo-bold {
    font-weight: 700;
}


@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}
.navegacion_enlace {
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}
.contenido-principal {
    text-align: center;
}
@media (min-width: 768px) {
    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada {
    border-bottom: 1px  solid var(--claro);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--encabezado);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}
.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}
.cursos {
    list-style: none;
}
.widget-curso {
    border-bottom: 1px var(--claro);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border: none;
    margin-bottom: 0; 
}
.widget-curso__label {
    font-family: var(--encabezado);
    font-weight: bold;
}
.widget-curso__info {
    font-weight: normal;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}

.footer {
    background-color: var(--negro);
    padding: 3rem;
    margin-top: 4rem;
}

/* sobre nosotros */
@media (min-width: 768px) {
    .sobre-nosotros {
        display: flex;
        justify-content: space-between;
    }
    .sobre-nosotros__texto {
        flex: 0 0 calc(50% - 1rem) ;
    }
    .sobre-nosotros__imagen {
        flex: 0 0  calc(50% - 1rem);
    }
    
    /* .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    } */
    .sobre-nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

