@use 'variables' as v;

@mixin celular {
    @media (min-width: v.$celular){
        @content; //contiene el codigo donde se coloque el mixin

    }
}

@mixin tablet {
    @media(min-width: v.$tablet){
        @content;
    }
}

@mixin laptop {
    @media (min-width: v.$laptop){
        @content;
    }
}

@mixin computadora {
    @media (min-width: v.$computadora){
        @content;
    }
}

@mixin grid($columnas, $espaciado){
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    column-gap: $espaciado;
}

@mixin lista{
    margin: 0;
    padding: 0;
    list-style: none;
    
}